@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#app {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 1px;
}

a {
    border-bottom: 2px solid transparent;
}

a:hover {
    border-bottom: 2px solid black;
}

.router-link-active {

    border-bottom: 2px solid black;
}

button {
    @apply px-2 py-2 text-lg font-medium leading-tight bg-amber-100 border border-amber-700;
}