@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#app {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 1px;
    @apply bg-gray-200;
}

.button {
    @apply px-2 py-1 bg-blue-500 hover:bg-blue-600 text-white;
}